#get-started-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#get-started-div input {
  padding: 1.4rem;
  width: 70%;
  font-size: 2rem;
  border-radius: 0.8rem;
  margin-bottom: 3rem;
}

#get-started-div button {
  padding: 1.8rem 0;
  width: 70%;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  border-radius: 0.8rem;
  margin-bottom: 3rem;
  background: blue;
}

#sign-in-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 757px) {

  header {
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  header p {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 4rem;
  }

  #home-talking-img {
    height: 70vw;
  }
}

@media (min-width: 758px) and (max-width: 960px) {

  header {
    padding: 0 6rem 0 6rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 4rem;
    width: 85vw;
  }

  header p {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }

  #home-talking-img {
    height: 70vw;
  }
}

@media (min-width: 960px) and (max-width: 1200px) {

  header {
    padding: 0 6rem 0 6rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 4rem;
    width: 88vw;
  }

  header p {
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
  }

  #home-talking-img {
    height: 70vw;
  }
}

@media (min-width: 1201px) {

  header {
    padding: 0 6rem 0 6rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  header h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 4rem;
  }

  header p {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
  }

  #home-talking-img {
    height: 45vw;
  }
}
