@media (max-width: 757px) {
  #get-started-div {
    display: flex;
    flex-direction: column;
  }

  header {
    padding: 1rem 3rem;
    margin-bottom: 1rem;
  }

  header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  header p {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  #get-started-div input {
    padding: 1rem 0.6rem;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
  }

  #get-started-div button {
    padding: 1.4rem 0.6rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    background: blue;
  }

  #sign-in-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 758px) and (max-width: 960px) {
  #get-started-div {
    display: flex;
    flex-direction: column;
  }

  header {
    padding: 0 6rem 0 6rem;
    margin-bottom: 2rem;
  }

  header h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }

  header p {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }

  #get-started-div input {
    padding: 1.2rem 0.8rem;
    font-size: 2rem;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
  }

  #get-started-div button {
    padding: 1.6rem 0.8rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    background: blue;
  }

  #sign-in-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 960px) and (max-width: 1200px) {
  #get-started-div {
    display: flex;
    flex-direction: column;
  }

  header {
    padding: 0 6rem 0 6rem;
    margin-bottom: 3rem;
  }

  header h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 4rem;
  }

  header p {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
  }

  #get-started-div input {
    padding: 1.4rem 1rem;
    font-size: 2rem;
    border-radius: 0.8rem;
    margin-bottom: 3rem;
  }

  #get-started-div button {
    padding: 1.8rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border-radius: 0.8rem;
    margin-bottom: 3rem;
    background: blue;
  }

  #sign-in-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1201px) {
  #get-started-div {
    display: flex;
    flex-direction: column;
  }

  header {
    padding: 0 6rem 0 6rem;
    margin-bottom: 3rem;
  }

  header h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 4rem;
  }

  header p {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
  }

  #get-started-div input {
    padding: 1.4rem 1rem;
    font-size: 2rem;
    border-radius: 0.8rem;
    margin-bottom: 3rem;
  }

  #get-started-div button {
    padding: 1.8rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border-radius: 0.8rem;
    margin-bottom: 3rem;
    background: blue;
  }

  #sign-in-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
